body{
  margin: 0;
  padding: 0;  
  font-family: 'Source Sans Pro', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wellcome{
  display:grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.wellcomebg{
  background-color: #f1f1f1;
}
.wellImg{
  padding:1em;
}
.wellMessag {
  padding:1em;
}
.wellMessag p{
  color:black;
  text-align: justify;
}
.bgdata{
  background-size: cover;
  height: 135vh;
}
.submenu{
  padding:2em;
  display: flex;
  justify-content: space-around;
}
#createArt{
  display: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.actionEdit{
  cursor:pointer;
  color:blue;
}
.actionDelete{
  cursor: pointer;
  color:red;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

.bg1{
  background-size: cover;
  height: 100vh;
  background: url(https://res.cloudinary.com/ddk15yoet/image/upload/v1580910357/gdvyncd3wzgwjxgzadrk.jpg);
}
.bg2{
  background-size: cover;
  height: 100vh;
  background: url(https://res.cloudinary.com/ddk15yoet/image/upload/v1580915056/thbvqaspc7hyrw8bqjrx.jpg);
}
.generalbg{
  background-size: cover;
  height: 100vh;
  background: url(https://res.cloudinary.com/ddk15yoet/image/upload/v1580978083/i8x7cvohgjly4uwrmver.jpg);
}
.shopbg{
  height: 30vh;
  background: url(https://res.cloudinary.com/ddk15yoet/image/upload/v1580979400/esfbjon2db8gjgk8tdn9.jpg);
}
.homebg{
  height: 30vh;
  background: url(https://res.cloudinary.com/ddk15yoet/image/upload/v1580990354/gurlgvqnbwwnphai4q1e.png);
}
.bggrey{
  background-color: #2d2d2d;
}
.bggrey h3, a{
  color: white;
}

.form_container {
  width: 30%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: 2%;
  border-radius: 5px;
  color: white;
  background-color: rgba(0,0,0,0.7);
}


.expoCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.expoHome{
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 10% 25% 0% 25%;
  padding: 1em;
  background-color: rgba(0,0,0,0.6);
  color:white;
  text-align: center;
}
.expoHome h2, p{
  color:white;
  text-decoration: none;
  margin:0em;
}



/*CART STYLES*/

#hid{
  display: none;
}

img {
  width: 100%;
}

.logo {
  padding: 1em;
  width: 20%;
  background-color: grey;
}
.listSearch {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  background-color: grey;
}
.listPro {
  display: flex;
  flex-direction: column;
  text-align: center;  
  padding: 1em;
}
.tickets img{
 padding-top:1em;
}

.delete:hover {
  cursor: pointer;
  color: red;
}

.listCart {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
  background-color: lightgrey;
}
.listCart img {
  max-height: 5em;
  max-width: 5em;
}
.listCart p {
  font-size: 1em;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}

/*stripe*/
.checkout_container {
  margin:1em;
}

button{
  margin:0.2em 0 0.2em 0;
  background-color:  #a71c15;
  opacity: 0.8;
  color: white;
  font-size: 1em;
  outline: none;
}
.areatext{
  padding:1em;
}
.btnshop{
  background-color: blue;
}
.total {
  padding-top: 2em;
  text-align:center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.2em;
}

.products_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  grid-gap:1em;
}

.product_container {
  width: 20%;
  height: 60%;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
}

.image_container {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 80%;
}

.grid2 {
  padding:1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:1em;
}
.shop p{
  color: black;
}
.center{
  text-align: center;
  padding:0.5em;
}
.left{
  text-align: left;
}
.shoph2{
  margin-top:0.5em;
}

.grid3 {
  padding:1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:1em;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.message_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message_box {
  width: 30%;
  height: 25%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  border-radius: 0.4em;
}

.message_box_left {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message_box_right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.1em;
}


footer a{
  font-size: 1em;
  text-decoration: none;
  margin:0.1em;
  line-height: 1.7em;
  display: block;
}

footer .underline{
  text-decoration: underline;
}

footer .center{
  font-size: 0.8em;
  text-align: center;
}

/* backoffice manage photos */
.pictures_container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.picture_container {
  width: 20%;
  height: 40%;
  padding:1em;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Stack the layout on medium devices/viewports. */
@media all and (max-width: 1024px) {
  .bg1 , .bg2, .generalbg {
     height: 50vh;
  }
  .form_container {
    width: 50%;
  }  
}
@media all and (max-width: 640px) {
  .grid2{
    grid-template-columns: 1fr;
  }
}

