
h2{
  font-size: 1.2em;
}
.navbar {
	width: 100%;
	height: 10vh;
	background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


label , input {
   margin: 3% 0;
}

.secret_page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.message {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*cart & shop css*/
.container{
	padding:1em;
}

.logo {
  padding: 1em;
  width: 20%;
  background-color: grey;
}


.delete:hover {
  cursor: pointer;
  color: red;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
